.node_card {
  border-radius: var(--node-border-radius);
  box-shadow: var(--node-shadow);
  border: 1px solid var(--node-border-color);
  position: relative;
  overflow: visible;
}

.node_card.node_card--fit {
  width: fit-content;
  height: fit-content;
  min-width: 220px;
  min-height: 80px;
}