.config_status_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-1) var(--spacing-2);
  background: var(--status-bar-bg);
  color: var(--status-bar-text);
  font-size: 14px;
  box-shadow: var(--status-bar-shadow);
  gap: var(--spacing-1);
}
